<html>
  <div class="header">
    <h1 class="title">
      Chat
    </h1>
  </div>
  <div class="rotateLine"></div>
  <div class="container">
    <div class="containerBox">
        <h1 class="picture">
          <img class="iconPng" src="../../assets/icon/person.svg" alt="">
        </h1>
        <h1 class="nameProBox">
          <h1 class="nameProf">Arthur</h1>
          <h1 class="nameMateria">Professor de matemática</h1>
        </h1>
        <h1 class="messageNumber">
          <h3 class="centerNumber">2</h3>
        </h1>
    </div>

    <div class="containerBox2">

    </div>

  </div>
</html>
